.contenedor_resultado{
    color: #004f88;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo{
    margin-bottom: 0.8rem;
}

.resultados{
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.resultados_reales, .resultados_no_reales{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mi_boton_resultado{
    font-size: medium;
    background-color: #004f88;
    color: white;
    border: 0;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: background-color 0.5s;
}

.mi_boton_resultado:hover{
    background-color: #036bb6;
}